/*span {
    width: 100px;
    display: inline-block
}
.li {
    width: 100px;
    display: inline-block;
}
#index li.aclass {
    width: 10px;
} */

ol>li {
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    line-height: 1.3em;
    /* 1.3 * pixelwert*/
    letter-spacing: 0.2em;
    text-align: left;
}

ol {
    list-style-type: georgian;
    padding: 0px;
}

ol li {
    display: inline;
}

ol li::before {
    content: "x";
    color: red;
}