/*body {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    padding: 5px;
}

p {
    padding: inherit;
}

p+p {
    font-family: initial;
    /*Font Grundeinstellung

th {
    text-transform: uppercase;
}

td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    border-spacing: 5px;
}

tbody tr:nth-child(odd) {
    background-color: grey;
}

tbody tr:hover {
    background-color: yellow;
}*/

div {
    /*width: 380px;
    height: 200px;
    border: 1px solid black;
    background-image: url("images/images.jpg");
    background-repeat: repeat-y;
    background-position: 5px 10px;
    background-size: contain;*/
    border: 1px solid black;
    width: 380px;
    height: 200px;
    background-image: linear-gradient(45deg, rgba(120, 0, 0, 0.2), rgba(250, 0, 0, 0.2));
    box-shadow: 5px 5px 5px grey;
}

:focus {
    background-color: blue;
}