.info {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    background: #f9f9f9;
    border-radius: 6px;
    margin-bottom: 8px;
}

li.title {
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
}

img.news1 {
    border: 1px solid black;
    width: 500px;
    height: auto;
    box-shadow: 10px 10px 5px grey;

}

.container {
    border: 1px solid red;

}