h1 {
    color: black;
    background-color: aquamarine;
    width: 50%;
        line-height: 2em;
}

a:hover {
    background-color: red;
}
header {
    line-height: 20px;
}
label {
    width: 100px;
    display: inline-block;
}

.info {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    background: #f9f9f9;
    border-radius: 6px;
    margin-bottom: 8px;
}

span {
    display: inline-block;
    width: 300px;
}

img {
    width: 200px;
    height: 300px;
    border: 1px solid black;
}