@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quintessential&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
h1 {
    color: black;
    background-color: aquamarine;
    width: 50%;
        line-height: 2em;
        font-family: 'Ubuntu', sans-serif;
}

a:hover {
    background-color: lightblue;
}
header {
    line-height: 20px;
}
label {
    width: 100px;
    display: inline-block;
}

.info {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    background: #f9f9f9;
    border-radius: 6px;
    margin-bottom: 8px;
}

span {
    display: inline-block;
    width: 300px;
}

img {
    width: 200px;
    height: 300px;
    border: 1px solid black;
}
li.title {
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
}

li {
    padding: 5px;
    list-style-type: circle;
    font-family: 'Ubuntu', sans-serif;
    background-image: radial-gradient(rgba(244, 4, 4, 0.2), rgba(250, 137, 137, 0.2));
}

img.news1 {
    border: 1px solid black;
    width: 500px;
    height: auto;
    box-shadow: 10px 10px 5px grey;
    
    }
    
                :focus {
                    background-color: lightgrey;
                }
        
                cite {
                    box-shadow: 5px 5px 5px grey;
                }
        
                p {
                    background-image: linear-gradient(rgba(244, 4, 4, 0.2), rgba(250, 137, 137, 0.2));
}