div {
    background-color: green;
    padding: 5px;
    min-width: 300px;
    max-width: 400px;
}

p {
    background-color: hsl(64, 100%, 50%);
    opacity: 0.5;
    width: 200px;
    padding: 10px;
    padding-bottom: 5px;
    border-top-style: solid;
    border-top-width: 5px;
    margin: 10px;
    height: 2em;
    overflow: hidden;

}